<div class="modal fade" id="forgetPassword" role="dialog">
    <div class="modal-dialog passwordLost">
        <div class="modal-content">
            <div class="rounded-circle imgModal border border1">
            </div>
            <div class="modal-body passwordLost-body d-flex flex-column align-items-center justify-content-center">
                <form id="password_forget_form">
                    <div class="row col-sm form-group champ-password">
                        <input type="email" class="form-control password-input" placeholder="Email" id='forgot_email' value="">
                    </div>
                    <div class="row col-sm justify-content-center">
                        <button type="submit" class='bouton-password btn_submit' id="forgot_pass_submit"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>