<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>

<p id="fb-root"></p>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=1268121773351660&autoLogAppEvents=1">
</script>
<script>

$(document).ready(function() {
    
    let track =  document.getElementById("track");
   
    
    function playPause1 () {

        if(track.paused) {

            track.play();
            $("#play-pause1").addClass('pause');
        }else {
            track.pause();
            $("#play-pause1").removeClass('pause');
        }
    } //fin 1

    function playPause2 () {

        if(track.paused) {

            track.play();
            $("#play-pause2").addClass('pause');
        }else {
            track.pause();
            $("#play-pause2").removeClass('pause');
        }
    }  //fin 2

    function playPause3 () {

        if(track.paused) {

            track.play();
            $("#play-pause3").addClass('pause');
        }else {
            track.pause();
            $("#play-pause3").removeClass('pause');
        }
    } //fin 3

    function playPause4 () {

        if(track.paused) {

            track.play();
            $("#play-pause4").addClass('pause');
        }else {
            track.pause();
            $("#play-pause4").removeClass('pause');
        }
    } //fin 4

    $('#play-pause1').click(function() {
        playPause1();
    });// cli 1

    $('#play-pause2').click(function() {
        playPause2();
    });  // cli 2

    $('#play-pause3').click(function() {
        playPause3();
    }); // cli 3

     $('#play-pause4').click(function() {
        playPause4();
    });// cli 4

String.prototype.rtrim = function() {
    return this.replace(/\s+$/, "");
}

        let lowerCaseLetters = /[a-z]/gi;
        let numbers = /[0-9]/i;
        let upperCaseLetters = /[A-Z]/gi;

function inputUsername(inputData){
    let usernameData = inputData.rtrim();
    let usernameInput = $('#register_username');

    if(usernameData.length < 1){
        usernameInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Le nom d\'utilisateur doit être de 3 caractères minimum et ne peux pas contenir d\'espace</div>');   
        
    }else{
        if(usernameData > 10) {
            usernameInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Le nom d\'utilisateur doit être  moins de 10 caractères</div>');
        }
         return usernameData;
           
    }
}//  verify username

function inputEmail(inputData){
    let emailData = inputData.rtrim();
    emailInput = $('#register_email');
    if(emailData.length < 1) {
        emailInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Ce champ est obligatoire</div>');
    }else{
        let regEx = /^[a-zA-Z0-9][a-zA-Z0-9._%+-]{0,63}@(?:[a-zA-Z0-9-]{1,63}\.){1,125}[a-zA-Z]{2,63}$/;
        let validEmail = regEx.test(emailData);

        if(!validEmail)
        {
            emailInput.after('<span class="erreur text-dark small" style="font-size: xx-small;">Merci de rentrer une adresse email valide</span>');
        }
        else{
            return emailData;
        }
    }

}//  email verify

function inputPassword(inputData){
    let passwordData = inputData;
    passwordInput = $('#register_password');

    if(passwordData.length < 8){
        passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Merci de rentrer un mot de passe de 8 caractères minimum</div>');
        
    }else  {

        if(!passwordData.match(lowerCaseLetters)) {
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Le mot de passe doit contenir au moins une letter minuscule</div>');   
        } 
        else if(!passwordData.match(upperCaseLetters)) {
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Le mot de passe doit contenir au moins une letter majuscule</div>');   
        }

        else if (!passwordData.match(numbers)) {
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Le mot de passe doit contenir au moins un chiffre</div>');   
        }
        return passwordData;
    }
} // password verify

   
    $(".image-upload").hide();
    $(".image-upload-channel").hide();
    $("#forgot_pass_form").hide();
    let user = {};
    let channel = {};
    let downloadURL;
    let downloadURLRadio;

    const reset = () => {
        $(".btn_submit").attr("disabled", false);
        $(".btn_submit").css("background-color", "#EF0051");
        $(".btn_submit").hover(() => { $(".btn_submit").css("background-color", "#D31052") })
    };

    const disable = () => {
        $(".btn_submit").attr("disabled", true);
        $(".btn_submit").css("background-color", "gray");
    }
    

    $('#inscription').click(function(e) {
    e.preventDefault();

    let email = $('#register_email').val();
    let username = $('#register_username').val();
    let password = $('#register_password').val();

    let dataUsername = inputUsername(username);
    let dataEmail = inputEmail(email);
    let dataPassword = inputPassword(password);

    console.log(dataUsername+" "+dataEmail+" "+dataPassword);

    if (dataUsername !== undefined && dataEmail !== undefined && dataPassword !== undefined)
    {
        
          $.ajax({
                type: "POST", 
                url: "/register", 
                data: JSON.stringify({
                    "username": dataUsername,
                    "email": dataEmail,
                    "password": dataPassword,
                }),
                async: true,
                success: function(response) {
                    /*if (response.message.token) {
                    localStorage.setItem("token", response.message.token);

                    }*/
                    console.log(response);
                   
                },
                error: function (err) {
                    
                    console.log(err);
                
                }
            });

    }else{
        console.log('les données entrées sont invalides!!');
    }

});// fin register

    $("#login").click((e) => {
        e.preventDefault(); 
        disable();

        let email = $("#login_email").val();
        let password = $("#login_password").val();
    
        let data = {
            
        };

        $.ajax({
            type: "POST",
            url: 'https://webradio-stream.herokuapp.com/auth/login',
            data: data,
            success: (response) =>
            {
                reset();
                if (response.message.token) {
                    localStorage.setItem("token", response.message.token);
                    $('#login_response').html("");
                    $('#login_json_response').html(JSON.stringify(response, undefined, 4));
                    $(".show_login_token").show();
                    $("#new_login_token").html(response.message.token);
                    console.log(response.message);
                } else {
                    $('#login_response').html("");
                    $('#login_json_response').html(JSON.stringify(response, undefined, 4));
                }
            },
            error: (err) => {
                reset();
                $('#login_response').html("");
                $('#login_json_response').html(JSON.stringify(err.responseJSON, undefined, 4));
                console.log(err.responseJSON);
            }
        });
    });// login


});



</script>

