<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>

<p id="fb-root"></p>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=1268121773351660&autoLogAppEvents=1">
</script>
<script>

$(document).ready(function() {

    let store = true;
    const token = localStorage.getItem("token");

    let username        =  localStorage.getItem("username");
    let avatar          =  localStorage.getItem("avatar");
    let password        =  localStorage.getItem("password");
    let userId          =  localStorage.getItem("userId"); 
    let channelId       = localStorage.getItem("channelId");
    let status          = localStorage.getItem("status");
    let channelName     = localStorage.getItem("channel_name");
    let channelAvatar   = localStorage.getItem("channel_avatar");
    let nbrEcoute       = localStorage.getItem("nbr_ecoute");
    let nbrEcouteGlobal = localStorage.getItem("nbr_ecoute_global");
    let email           = localStorage.getItem("email");

    if(token !== null ) {

        localStorage.removeItem('token'); 

        console.log('Vous êtes deconnecté');
        store = false;
    }

    if(username !== null) {
        localStorage.removeItem("username");
    }
    if(avatar !== null) {
        localStorage.removeItem("avatar");
    }
    if(password !== null){
        localStorage.removeItem("password");
    }
    if(userId !== null){
        localStorage.removeItem("userId"); 
    }
    if(channelId !== null){
        localStorage.removeItem("channelId");
    }
    if(status !== null){
        localStorage.removeItem("status");
    }
    if(channelName !== null){
        localStorage.removeItem("channel_name");
    }
     if(channelAvatar !== null){
        localStorage.removeItem("channel_avatar");
    }
     if(nbrEcoute !== null){
        localStorage.removeItem("nbr_ecoute");
    }
     if(nbrEcouteGlobal !== null){
        localStorage.removeItem("nbr_ecoute_global");
    }
    if(email !== null){
        localStorage.removeItem("email");
    }
   
    
    let track =  document.getElementById("track");
   
    
    function playPause1 () {

        if(track.paused) {

            track.play();
            $("#play-pause1").addClass('pause');
        }else {
            track.pause();
            $("#play-pause1").removeClass('pause');
        }
    } //fin 1

    $('#play-pause1').click(function() {
        playPause1();
    });// cli 1

    

});

String.prototype.rtrim = function() {
    return this.replace(/\s+$/, "");
}

        let lowerCaseLetters = /[a-z]/gi;
        let numbers = /[0-9]/i;
        let upperCaseLetters = /[A-Z]/gi;

function inputUsername(inputData,input){
    let usernameData = inputData.rtrim();
    let usernameInput = input;

    if(usernameData.length < 1){
        usernameInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Le nom d\'utilisateur doit être de 3 caractères minimum et ne peux pas contenir d\'espace</div>');   
        
    }else{
        if(usernameData > 10) {
            usernameInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Le nom d\'utilisateur doit être  moins de 10 caractères</div>');
        }
         return usernameData;
           
    }
}//  verify username

function inputEmail(inputData, input){
    let emailData = inputData.rtrim();

    emailInput = input;
    if(emailData.length < 1) {
        emailInput.after('<div class="erreur text-dark small" style="font-size: xx-small;">Ce champ est obligatoire</div>');
    }else{
        let regEx = /^[a-zA-Z0-9][a-zA-Z0-9._%+-]{0,63}@(?:[a-zA-Z0-9-]{1,63}\.){1,125}[a-zA-Z]{2,63}$/;
        let validEmail = regEx.test(emailData);

        if(!validEmail)
        {
            emailInput.after('<span class="erreur text-dark small" style="font-size: xx-small;">Merci de rentrer une adresse email valide</span>');
        }
        else{
            return emailData;
        }
    }

}//  email verify

function inputPassword(inputData, input){
    let passwordData = inputData;
    passwordInput = input;

    if(passwordData.length < 8){
        passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Merci de rentrer un mot de passe de 8 caractères minimum</div>');
        
    }else  {

        if(!passwordData.match(lowerCaseLetters)) {
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Le mot de passe doit contenir au moins une letter minuscule</div>');   
        } 
        else if(!passwordData.match(upperCaseLetters)) {
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Le mot de passe doit contenir au moins une letter majuscule</div>');   
        }

        else if (!passwordData.match(numbers)) {
            passwordInput.after('<div class="erreur text-dark small-2" style="font-size: xx-small;">Le mot de passe doit contenir au moins un chiffre</div>');   
        }
        return passwordData;
    }
} // password verify


    let user = {};
   

    const reset = () => {
        $(".btn_submit").attr("disabled", false);
        $(".btn_submit").css("background-color", "#EF0051");
        $(".btn_submit").hover(() => { $(".btn_submit").css("background-color", "#D31052") })
    };

    const disable = () => {
        $(".btn_submit").attr("disabled", true);
        $(".btn_submit").css("background-color", "gray");
    }
    

    $('#inscription').click(function(e) {
    e.preventDefault();
      disable();

    let email = $('#register_email').val();
    let inpEmail = $('#register_email');

    let username = $('#register_username').val();
    let inpUser = $('#register_username');

    let password = $('#register_password').val();
    let inpPassword = $('#register_password');

    let dataUsername = inputUsername(username,inpUser);
    let dataEmail = inputEmail(email, inpEmail);
    let dataPassword = inputPassword(password, inpPassword);


    if (dataUsername !== undefined && dataEmail !== undefined && dataPassword !== undefined)
    {
        
          $.ajax({
                type: "POST", 
                url: "/register", 
                data: JSON.stringify({
                    "username": dataUsername,
                    "email": dataEmail,
                    "password": dataPassword,
                }),
                dataType: 'json',
                async: true,
                success: function(response) {
                    reset();
                    if(response.message != undefined)
                    {
                         localStorage.setItem("token", response.message.token);
                         // modal show connexion
                    }
                    
                    else console.log('failed');
                    console.log(response);
                   
                },
                error: function (err) {
                    reset();
                    console.log(err);
                
                }
            });

    }else{
        
        $('#register-alert').css("display", "block");
        $('#register-alert').html("les données entrées sont invalides!!");

        console.log('les données entrées sont invalides!!');
        
    }

});// fin register

    $("#login").click(function(e){
        e.preventDefault(); 
        disable();

        let mytoken;
        let emailLogin = $("#login_email").val();
        let inpEmail = $("#login_email");

        let passwordLogin = $("#login_password").val();
        let inpPassword = $("#login_password");

        let loginEmail = inputEmail(emailLogin,inpEmail);
        let loginPassword = inputPassword(passwordLogin,inpPassword);
 
        if (loginEmail !== undefined && loginPassword !== undefined)
        {
            let data = JSON.stringify({email: loginEmail, password: loginPassword});

            $.ajax({
                type: "POST",
                url: '/login',
                data: data,
                dataType: 'json',
                success: (response) =>
                {
                    reset();
                    if(response.message != undefined) 
                    {
                        
                        localStorage.setItem("token", response.message.token);

                        $('#login-success').css("display", "block");
                        $('#login-success').html("L'affichage de votre profile peut prendre du temps à arriver. Si rien ne se passe, attendez quelques secondes");
                        
                        mytoken = response.message.token;

                        //get profile
                        let data1 = JSON.stringify({ token1: mytoken,});
                            $.ajax({
                                type: "POST", 
                                url: "/profile/show", 
                                data: data1,
                                dataType: 'json',
                                async: true,
                                success: function(responsepro) {

                                    if(response != undefined){

                                        let role = responsepro.user[0].role;
                                    if(role === "ROLE_SUPER_ADMIN")
                                    {
                                            setTimeout(function(){

                                                window.location.href = "/";

                                            }, 2000);

                                    }else if(role === "ROLE_ADMIN"){

                                        localStorage.setItem("username", responsepro.user[0].username);
                                        localStorage.setItem("email", responsepro.user[0].email);
                                        localStorage.setItem("password", responsepro.user[0].password);
                                        localStorage.setItem("avatar", responsepro.user[0].avatar);

                                            setTimeout(function(){

                                                window.location.href = "/admin";

                                            }, 2000);

                                    }else if(role === "ROLE_USER"){

                                        localStorage.setItem("username", responsepro.user[0].username);
                                        localStorage.setItem("avatar", responsepro.user[0].avatar);
                                        localStorage.setItem("password", responsepro.user[0].password);
                                        localStorage.setItem("userId", responsepro.user[0].user_id); 
                                        localStorage.setItem("channelId", responsepro.user[0].channel_id); 
                                        localStorage.setItem("status", responsepro.user[0].status);
                                        localStorage.setItem("email", responsepro.user[0].email);

                                            setTimeout(function(){

                                                window.location.href = "/profile";

                                            }, 2000);

                                    }else{

                                            setTimeout(function(){

                                                window.location.href = "/";

                                            }, 2000);
                                    }
                                    }
                                    console.log(responsepro);
                                },
                                error: function (err) {
                                    
                                    console.log(err);
                                }
                            });

                    }
                    else console.log('failed');

                    console.log(response);
                },
                error: (err) => {
                    reset();
                    console.log(err);
                }
            });// fin ajax
        }else{
            $('#login-alert').css("display", "block");
            $('#login-alert').html("les données entrées sont invalides!!");

            console.log('les données entrées sont invalides!!');
        }


    });// login


    




</script>

