<!DOCTYPE html>
<html lang="en">
    {% include 'Users/head.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'Users/sidebar.html.twig' %}
        <!-- Main Content -->
        <div id="content">
            {% include 'Users/navigation.html.twig' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="mt-2">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="row">
                                <div class="col-sm-4 d-flex">
                                    <a class="retour mt-auto mb-1" href="{{ path('profile.planning.index') }}" >
                                        <i id="fleche-retour" class="fas fa-long-arrow-alt-left"></i>
                                        <button id="bouton-retour" class="btn btn-sm rounded-pill">retour</button>
                                    </a>
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="text-black mt-auto" id="titreBibliotheque">Bibliothèque de musiques</h4>
                                </div>
                                <div class="col-sm-4 d-flex justify-content-end mt-2">
                                    <label for="musicInput" class="bouton-ajout">
                                        <input type="file" accept="audio/*" id="musicInput">
                                        Ajouter une musique
                                    </label>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="mt-3">
                          <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body music">
                                    <div class="row">
                                        {% for music in musiclists %}
                                          
                                                <div class="col-xl-4 d-flex flex-column">
                                                    <a href="#">
                                                        <button class="bouton-id">&times;</button>
                                                        <img src="https://i.pinimg.com/736x/06/2a/2c/062a2c6142605b83c340080137b84e57.jpg" alt="music" style="margin-left: 5px;" class="w-100"/>
                                                        <span class="text-dark medium w-100 text-center" style="font-size: 0.6rem;">{{ music.name }}</span>
                                                    </a>
                                                </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>

                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span class="text-black">Copyright &copy; Webradio - Stream - 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include 'Users/MusicLibrary/script.html.twig' %}

</body>

</html>